@model Moviee.Models.TblMovie
@{
    ViewBag.Title = "MovieUpdate";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}

<@using (Html.BeginForm("MovieUpdatee", "Movie", FormMethod.Post))
{
    <div style="margin-bottom:15px">
        @Html.HiddenFor(y => y.MovieId);
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        @Html.LabelFor(x => x.Director)
        @Html.TextBoxFor(x => x.Director, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        @Html.LabelFor(x => x.MovieYear)
        @Html.TextBoxFor(x => x.MovieYear, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        @Html.LabelFor(x => x.Category)
        @Html.TextBoxFor(x => x.Category, new { @class = "form-control" })
    </div>

    <button class="btn btn-succes">Update </button>
}